<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lukinvit.lvdcp.breadcrumb-prune</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{CTX_PATH}}</string>
        <string>breadcrumb</string>
        <string>prune</string>
        <string>--older-than=14d</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>4</integer>
        <key>Minute</key><integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/breadcrumb-prune.log</string>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/breadcrumb-prune.err</string>
</dict>
</plist>
