<div id="dep-graph" data-project-slug="{{ status.card.slug }}" style="width: 100%; height: max(400px, 60vh);">
    <canvas id="dep-graph-canvas"></canvas>
    <div id="dep-graph-info" class="graph-info"></div>
</div>
